input, button {
  display: block;
  height: 30px;
  margin-bottom: 2em;
  min-width: 50%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: pink;
}

div {
  background-color: blue
}