#login {
  position: absolute;
  top: 4%;
  right: 10%;
}

input {
  margin: 5px;
}

#login input[type='submit'] { 
  height: 40px;
}

#login input[type='text'] {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #dcdcdc;
}

#lButton:hover, #lButton:focus {
  color: #4336f4;
  background-color: #f0f0f0;
}

#login form {
  display: -webkit-inline-box;
}