body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	background: #f0f0f0;
}

header, footer {
	background: #f0f0f0;
	padding: 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: #87CEEB;
	color: #fff;
	font-size: 1rem;
}

.page-wrap {
	width: 100%;
	max-width: 1000px;
	margin: 1em auto;
	background: #fff;
	padding: 4em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

input, button {
	display: block;
	margin-bottom: 2em;
	min-width: 50%;
	font-family: 'Roboto', sans-serif;
}

input {
	padding: 5px;
	height: 25px;	
}
  
input::placeholder {
	font-style: italic;
}

input[type='submit'], button {
	background-color: #87CEEB;
	height: 40px;
	border: none;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
  }
  
  @media only screen and (max-width: 640px) {
	input, input[type='submit'], button {
	  min-width: 100%;
	}
  }