body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
}

/* Custom styles */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: #f0f0f0;
}

header {
	background: #fff;
	padding: 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: #4336f4;
	color: #fff;
	font-size: 1.5rem;
	text-decoration: none;
}

footer {
	padding: 1em;
	background-color: #4336f4;
	color: #fff;
}


h2 {
	font-size: 1.25rem;
	margin-bottom: 1em;
}

.page-wrap {
	width: 100%;
	max-width: 1000px;
	background: #fff;
	padding: 2em;
}